<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MachMiles</title>
     <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <!-- Font Awesome -->
      <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
      />
      <!-- Google Fonts -->
      <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
      />
      <!-- MDB -->
      <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.1/mdb.min.css"
      rel="stylesheet"
      />

     <style>
      body {
          font-family: 'Roboto', sans-serif;
      }
      .main_container{
        position: absolute;
        z-index: 5;
        top: 150px;
      }

      .my-search-form{
      border: 1px solid whitesmoke;
      background-color: white;
      /* box-shadow: 5px 5px; */
      border-radius: 50px;
      padding: 10px;
      }

      .search-flight-btn{
        border-radius: 25px;
        width: 30%;
        padding: 10px;
        border: 1px solid green;
        background-color: red;
        color: white;
        transition: transform .2s;
      }

      .search-flight-btn:hover{
        transform: scale(1.1);
      }

      #from-autocomplete-list{
        position: absolute;
        background-color: white;
        border: 1px solid #ced4da
      }

      #to-autocomplete-list{
        position: absolute;
        background-color: white;
        border: 1px solid #ced4da
      }

      .inner-div{
        padding: 5px;
        border-bottom: 1px solid #ced4da
      }

      .body-container{
        position: fixed;
        width: 100%;
        z-index: 0;
        margin-top: 50px;
      }

      .first-navbar{
        position: fixed;
        width: 100%;
        z-index: 50;
        background-color: yellow;
      }

      .second-navbar{
        position: relative;
        top: 50px;
        z-index: 20;
       
      }

      .headings{
        letter-spacing: 1px;
        text-shadow: 2px 2px 5px #1a1919;
        color: white;
      }

      h2{
        font-family: 'Playfair Display', serif;
    /* size: 43px; */
    font-size: 50px;
      }

      h3{
        font-family: 'Lato', sans-serif;
      }

      .carousel-screen {
          width: 100%;
          height: 54%;
          background-color: black;
          position: absolute;
          z-index: 1;
          opacity: 0.1;
      }

     </style>
</head>
<body>
  <%- include('../partials/navbar.ejs') %>
  <div class="body-container">
    <div class="carousel-screen">

    </div>


    <%- include('../partials/carousel.ejs') %>

    
  </div>

  
  <div class ="container-fluid main_container">
        <div class="row justify-content-center">
          <div class="col-8 text-center headings">
            <h2>Find Your Perfect Flight with Ease</h2>
            <h3>Discover Affordable Flights and Unforgettable Journeys</h3>
          </div>
        </div>
    
      <form id="search-form" action="/search-flights" method="get" class="w-100 p-3">
        <div class="container my-search-form">

          <!-- Trip Type Radio Buttons -->
          <div class="row mb-3">
            <div class="col-12 text-center">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="tripType" id="one-way" value="one-way" checked>
                <label class="form-check-label" for="one-way">One Way</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="tripType" id="round-trip" value="round-trip">
                <label class="form-check-label" for="round-trip">Round Trip</label>
              </div>
            </div>
          </div>
      
          <!-- Flight Details -->
          <div class="row mb-3 justify-content-center">
            <div class="col-md-2 col-sm-6 mb-2">
              <div class="form-group">
                <label for="from-input">From</label>
                <input id="from-input" type="text" name="flying_from" class="form-control" placeholder="Enter city or airport name" required>
                <div id="from-autocomplete-list" class="autocomplete-list"></div>
              </div>
            </div>

            
      
            <div class="col-md-2 col-sm-6 mb-2">
              <div class="form-group">
                <label for="to-input">To</label>
                <input id="to-input" type="text" name="flying_to" class="form-control" placeholder="Enter city or airport name" required>
                <div id="to-autocomplete-list" class="autocomplete-list"></div>
              </div>
            </div>
      
            <div class="col-md-2 col-sm-6 mb-2">
              <div class="form-group">
                <label for="departure-date-input">Departure Date</label>
                <input id="departure-date-input" type="date" name="departure_date" class="form-control" required>
              </div>
            </div>
      
            <div class="col-md-2 col-sm-6 mb-2" id="return-date-col">
              <div class="form-group">
                <label for="return-date-input">Return Date</label>
                <input id="return-date-input" type="date" name="return_date" class="form-control">
              </div>
            </div>
      
            <div class="col-md-1 col-sm-4 mb-2">
              <div class="form-group">
                <label for="adults-input">Adults</label>
                <input id="adults-input" type="number" name="adults" class="form-control" min="1" value="1" required>
              </div>
            </div>
      
            <div class="col-md-1 col-sm-4 mb-2">
              <div class="form-group">
                <label for="children-input">Children</label>
                <input id="children-input" type="number" name="children" class="form-control" min="0" value="0">
              </div>
            </div>
      
            <div class="col-md-1 col-sm-4 mb-2">
              <div class="form-group">
                <label for="infants-input">Infants:</label>
                <input id="infants-input" type="number" name="infants" class="form-control" min="0" value="0">
              </div>
            </div>
          </div>
      
          <div class="row">
            <div class="col text-center">
              <button type="submit" class="search-flight-btn">Search Flights</button>
            </div>
          </div>
        </div>
      </form>




  <div class="row"  style="margin-top: 60px; background-color: white;">

    <div class="tour-screen"></div>

    <div class="row justify-content-center">
      <div class="col-10">
        <div class="container my-5">
          <div class="text-center mb-5">
            <span class="text-secondary text-uppercase">Why</span>
            <h1 class="text-capitalize font-weight-bold">Our <span style="color: #9B5DE5">Services</span></h1>
          </div>
        
          <div class="row">
            
            <div class="col-md-4 p-4">
              <div class="d-flex align-items-start">
                <div class="mr-4">
                  <div class="p-4 rounded-circle text-white font-weight-bold d-flex align-items-center justify-content-center" style="height: 60px; width: 60px; background-color: #9B5DE5">
                    1
                  </div>
                </div>
                <div class="">
                  <h5 class="mb-2" style="font-weight: 600;">Live Support</h5>
                  <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
              </div>
            </div>
        
            <div class="col-md-4 p-4">
              <div class="d-flex align-items-start">
                <div class="mr-4">
                  <div class="p-4 rounded-circle text-white font-weight-bold d-flex align-items-center justify-content-center" style="height: 60px; width: 60px; background-color: #9B5DE5">
                    2
                  </div>
                </div>
                <div class="">
                  <h5 class="mb-2" style="font-weight: 600;">Free cancellation</h5>
                  <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
              </div>
            </div>
        
            <div class="col-md-4 p-4">
              <div class="d-flex align-items-start">
                <div class="mr-4">
                  <div class="p-4 rounded-circle text-white font-weight-bold d-flex align-items-center justify-content-center" style="height: 60px; width: 60px; background-color: #9B5DE5">
                    3
                  </div>
                </div>
                <div class="">
                  <h5 class="mb-2" style="font-weight: 600;">Service Name</h5>
                  <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
              </div>
            </div>
        
            
        
          </div>
        </div>
      </div>
    </div>

          <div class="row product-card justify-content-center">
            <div class="col-10 text-center">
              <div class="text-center mb-5">
                <h1 class="text-capitalize font-weight-bold">Best <span style="color: #9B5DE5">Tours</span></h1>
              </div>
            <div class="row mt-3">
              <div class="col-3">
                <div class="card h-100">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers"/>
                  <div class="card-body">
                    <h5 class="card-title">Paris</h5>
                    <p class="card-text">
                      This is a wider card with supporting text below as a natural lead-in to
                      additional content. This content is a little bit longer.
                    </p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card h-100">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" class="card-img-top" alt="Los Angeles Skyscrapers"/>
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card h-100">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top" alt="Palm Springs Road"/>
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      This is a wider card with supporting text below as a natural lead-in to
                      additional content. This card has even longer content than the first to show
                      that equal height action.
                    </p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="card h-100">
                  <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top" alt="Palm Springs Road"/>
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      This is a wider card with supporting text below as a natural lead-in to
                      additional content. This card has even longer content than the first to show
                      that equal height action.
                    </p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div>
                </div>
              </div>
            </div>

            </div>

          </div>
  

    <div class="row mt-5">
      <div class="text-center mb-3">
        <h1 class="text-capitalize font-weight-bold">Latest <span style="color: #9B5DE5">Reviews</span></h1>
      </div>
    <!-- Carousel wrapper -->
      <div id="carouselMultiItemExample" data-mdb-carousel-init class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
        <!-- Controls -->
        <div class="d-flex justify-content-center mb-4">
          <button data-mdb-button-init class="carousel-control-prev position-relative" type="button"
            data-mdb-target="#carouselMultiItemExample" data-mdb-slide="prev">
            <span class="carousel-control-prev-icon text-body" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button data-mdb-button-init class="carousel-control-next position-relative" type="button"
            data-mdb-target="#carouselMultiItemExample" data-mdb-slide="next">
            <span class="carousel-control-next-icon text-body" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <!-- Inner -->
        <div class="carousel-inner py-4">
          <!-- Single item -->
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-lg-4">
                  <img class="rounded-circle shadow-1-strong mb-4"
                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" alt="avatar"
                    style="width: 150px;" />
                  <h5 class="mb-3">Anna Deynah</h5>
                  <p>UX Designer</p>
                  <p class="text-muted">
                    <i class="fas fa-quote-left pe-2"></i>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id
                    officiis hic tenetur quae quaerat ad velit ab hic tenetur.
                  </p>
                  <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                  </ul>
                </div>

                <div class="col-lg-4 d-none d-lg-block">
                  <img class="rounded-circle shadow-1-strong mb-4"
                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar"
                    style="width: 150px;" />
                  <h5 class="mb-3">John Doe</h5>
                  <p>Web Developer</p>
                  <p class="text-muted">
                    <i class="fas fa-quote-left pe-2"></i>
                    Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                    suscipit laboriosam, nisi ut aliquid commodi.
                  </p>
                  <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li>
                      <i class="fas fa-star-half-alt fa-sm"></i>
                    </li>
                  </ul>
                </div>

                <div class="col-lg-4 d-none d-lg-block">
                  <img class="rounded-circle shadow-1-strong mb-4"
                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" alt="avatar"
                    style="width: 150px;" />
                  <h5 class="mb-3">Maria Kate</h5>
                  <p>Photographer</p>
                  <p class="text-muted">
                    <i class="fas fa-quote-left pe-2"></i>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                    praesentium voluptatum deleniti atque corrupti.
                  </p>
                  <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="far fa-star fa-sm"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Single item -->
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-lg-4">
                  <img class="rounded-circle shadow-1-strong mb-4"
                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(3).webp" alt="avatar"
                    style="width: 150px;" />
                  <h5 class="mb-3">John Doe</h5>
                  <p>UX Designer</p>
                  <p class="text-muted">
                    <i class="fas fa-quote-left pe-2"></i>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id
                    officiis hic tenetur quae quaerat ad velit ab hic tenetur.
                  </p>
                  <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                  </ul>
                </div>

                <div class="col-lg-4 d-none d-lg-block">
                  <img class="rounded-circle shadow-1-strong mb-4"
                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar"
                    style="width: 150px;" />
                  <h5 class="mb-3">Alex Rey</h5>
                  <p>Web Developer</p>
                  <p class="text-muted">
                    <i class="fas fa-quote-left pe-2"></i>
                    Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                    suscipit laboriosam, nisi ut aliquid commodi.
                  </p>
                  <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li>
                      <i class="fas fa-star-half-alt fa-sm"></i>
                    </li>
                  </ul>
                </div>

                <div class="col-lg-4 d-none d-lg-block">
                  <img class="rounded-circle shadow-1-strong mb-4"
                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(5).webp" alt="avatar"
                    style="width: 150px;" />
                  <h5 class="mb-3">Maria Kate</h5>
                  <p>Photographer</p>
                  <p class="text-muted">
                    <i class="fas fa-quote-left pe-2"></i>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                    praesentium voluptatum deleniti atque corrupti.
                  </p>
                  <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="far fa-star fa-sm"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Single item -->
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-lg-4">
                  <img class="rounded-circle shadow-1-strong mb-4"
                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(6).webp" alt="avatar"
                    style="width: 150px;" />
                  <h5 class="mb-3">Anna Deynah</h5>
                  <p>UX Designer</p>
                  <p class="text-muted">
                    <i class="fas fa-quote-left pe-2"></i>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id
                    officiis hic tenetur quae quaerat ad velit ab hic tenetur.
                  </p>
                  <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                  </ul>
                </div>

                <div class="col-lg-4 d-none d-lg-block">
                  <img class="rounded-circle shadow-1-strong mb-4"
                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(8).webp" alt="avatar"
                    style="width: 150px;" />
                  <h5 class="mb-3">John Doe</h5>
                  <p>Web Developer</p>
                  <p class="text-muted">
                    <i class="fas fa-quote-left pe-2"></i>
                    Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                    suscipit laboriosam, nisi ut aliquid commodi.
                  </p>
                  <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li>
                      <i class="fas fa-star-half-alt fa-sm"></i>
                    </li>
                  </ul>
                </div>

                <div class="col-lg-4 d-none d-lg-block">
                  <img class="rounded-circle shadow-1-strong mb-4"
                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(7).webp" alt="avatar"
                    style="width: 150px;" />
                  <h5 class="mb-3">Maria Kate</h5>
                  <p>Photographer</p>
                  <p class="text-muted">
                    <i class="fas fa-quote-left pe-2"></i>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                    praesentium voluptatum deleniti atque corrupti.
                  </p>
                  <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="far fa-star fa-sm"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Inner -->
      </div>
      <!-- Carousel wrapper -->
    </div>

  </div>
  <%- include('../partials/footer.ejs') %>


</div>
  
  <script>
    let fromCode = '';
    let toCode = '';
  
    function setupAutocomplete(inputId, listId) {
      const input = document.getElementById(inputId);
      const list = document.getElementById(listId);
  
      input.addEventListener('input', async function() {
        const query = this.value;
        if (query.length < 3) {
          list.innerHTML = '';
          return;
        }
        const response = await fetch(`/autocomplete?query=${query}`);
        const suggestions = await response.json();
        list.innerHTML = '';
        suggestions.forEach(item => {
          const div = document.createElement('div');
          div.classList.add('inner-div'); 
          div.innerHTML = `${item.name} (${item.code})`;
          div.addEventListener('click', () => {
            input.value = `${item.name} (${item.code})`;
            if (inputId === 'from-input') {
              fromCode = item.code;
            } else if (inputId === 'to-input') {
              toCode = item.code;
            }
            list.innerHTML = '';
          });
          list.appendChild(div);
        });
      });
    }
  
    setupAutocomplete('from-input', 'from-autocomplete-list');
    setupAutocomplete('to-input', 'to-autocomplete-list');
  
    document.getElementById('search-form').addEventListener('submit', function(event) {
      event.preventDefault(); // Prevent the default form submission
      const departureDate = document.getElementById('departure-date-input').value;
      const returnDate = document.getElementById('return-date-input').value;
      const tripType = document.querySelector('input[name="tripType"]:checked').value;
      let url = `/search-flights?flying_from=${fromCode}&flying_to=${toCode}&departure_date=${departureDate}&adults=${document.getElementById('adults-input').value}&children=${document.getElementById('children-input').value}&infants=${document.getElementById('infants-input').value}`;
      if (tripType === 'round-trip') {
        url += `&return_date=${returnDate}`;
      }
      window.location.href = url;
    });
  </script>
    

    

<!-- MDB -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.1/mdb.umd.min.js"
></script>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
